@font-face {
    
    src: url("fonts/founders-grotesk-test-medium.woff") format("woff");
    font-family: FGrotesk;
}
@font-face {
    
    src: url("fonts/Akkurat-Mono.woff") format("woff");
    font-family: Akkurat;
}
  


body{
background-color: #FFF7F7;
}


#logo{

font-family: FGrotesk;
font-style: normal;
color: black;
font-weight: 500;
font-size: 100px;
line-height: 0px;
position: absolute;
left: 3%;
bottom: 79%;

}

#sidebar{
    position: absolute;
    left: 66.67%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: white;
    box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09);
}

.button {
	background-color:#000000;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Akkurat;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.button:hover {
    background-color:#7a7a7a;
    
}
.button:active {
	position:relative;
	top:1px;
}

.share{
    background-color: white;
    border: 1px solid black; 
    
    color: black;
}
