@font-face {
    src: url("../assets/fonts/founders-grotesk-test-medium.woff") format("woff");
    font-family: FGrotesk;
}

@font-face {
    src: url("../assets/fonts/Akkurat-Mono.woff") format("woff");
    font-family: Akkurat;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#logo {
    font-family: FGrotesk;
    font-style: normal;
    color: black;
    font-weight: 500;
    font-size: 100px;
    line-height: 0px;
    left: 30px;
    top: 60px;
    margin-left: 0px;
    margin-top: 0px;
    position: fixed;
    display: inline-block;
}

#visualisator {
    position: fixed;

    left: 0%;
    right: 490px;
    top: 0%;
    bottom: 0%;
    background-color: #FFF7F7;
}

#sidebar {
    position: fixed;
    width: 490px;
    right: 0px;
    top: 0%;
    bottom: 0%;
    background-color: #ffffff;
    box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09);
}

/* SIDEBAR MENUS */

.pot-selector {
    width: 490px;
    right: -600px;
    position: fixed;
    z-index: 10;
    top: 0px;
    transition: all .8s ease-in-out;
    background-color: white;
    box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09);
    min-height: 100%;
    overflow-y:auto;
}

.pot-selector.show {
    right: 0px;
    background-color: white;
    box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09);
    transition: all .8s ease-in-out;
    position: absolute;
}

.design-selector {
    width: 490px;
    right: -600px;

    position: fixed;
    z-index: 10;
    top: 0px;
    transition: all .8s ease-in-out;
    background-color: white;
    /* box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09); */
    box-shadow:20px 20px 43px #d4cdcd, -20px -20px 43px #ffffff;
    min-height: 100%;
    overflow-y:auto;
}

.design-selector.show {
    right: 0px;
    background-color: white;
    box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09);
    transition: all .8s ease-in-out;
    position: absolute;

}

.main_color-selector {
    width: 490px;
    right: -600px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0px;
    transition: all .8s ease-in-out;
    background-color: white;
    box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09);
    min-height: 100%;
    overflow-y:auto;
}

.main_color-selector.show {
    right: 0px;
    background-color: white;
    box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09);
    transition: all .8s ease-in-out;
    position: absolute;
}

.secondary_color-selector {
    width: 490px;
    right: -600px;
    height: 200vh;
    position: fixed;
    z-index: 10;
    top: 0px;
    transition: all .8s ease-in-out;
    background-color: white;
    box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09);
    overflow-y:auto;
    min-height: 100%;
}

.secondary_color-selector.show {
    right: 0px;
    background-color: white;
    box-shadow: -5px 0px 65px rgba(0, 0, 0, 0.09);
    transition: all .8s ease-in-out;
    position: absolute;
}

/* BUTTONS */

#done {
    position: fixed;
    display: block;
    bottom: 30px;
    left: 600px;
    background-color: #ffffff;
    border-radius: 27px;
    cursor: pointer;
    color: #000000;
    font-family: Akkurat;
    font-size: 17px;
    padding: 16px 35px;
    text-decoration: none;
    box-shadow:20px 20px 43px #d4cdcd, -20px -20px 43px #ffffff;
    border: 1px solid transparent;
}

#done:active {

    transform: translateY(-1px);
}

.share {
    cursor: pointer;
    border-radius: 50%;
    background: white;
    box-shadow:20px 20px 43px #d4cdcd, -20px -20px 43px #ffffff;
    position: fixed;
    bottom: 30px;
    margin-left:40px;  
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    font-family: Akkurat;
    font-size: 23px;
    text-align: left;
    display: inline-block;
}

#share:active {
    position: relative;
    top: 1px;
}

.link {
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    transition: all .8s ease-in-out;
    position: fixed;
    bottom: 30px;
    margin-left:40px;  
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    font-family: Akkurat;
    font-size: 23px;
    text-align: center;

}


.link.show{
    
    bottom: 110px;
    background: black;
    transition: all .5s ease-out;
    box-shadow:20px 20px 43px #d4cdcd, -20px -20px 43px #ffffff;
}

.facebook {
    cursor: pointer;
    border-radius: 50%;
    background:transparent;
    position: fixed;
    bottom: 30px;
    margin-left:40px;  
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    font-family: Akkurat;
    font-size: 23px;
    text-align: left;
    display: inline-block;
    transition: all .8s ease-in-out;
}
.facebook.show{
    display:inline-block;
    transform: translateY(-240px);
    transition: all .5s ease-out;
    background: rgb(101, 101, 241);
    box-shadow:20px 20px 43px #d4cdcd, -20px -20px 43px #ffffff;
}

.twitter {
    cursor: pointer;
    border-radius: 50%;
    background:transparent;
    position: fixed;
    bottom: 30px;
    margin-left:40px;  
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    font-family: Akkurat;
    font-size: 23px;
    text-align: left;
    display: inline-block;
    transition: all .8s ease-in-out;
}
.twitter.show{
    display:inline-block;
    transform: translateY(-160px);
    transition: all .5s ease-out;
    background: rgb(103, 237, 247);
    box-shadow:20px 20px 43px #d4cdcd, -20px -20px 43px #ffffff;
}


#back_button{
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    /* box-shadow:20px 20px 43px #d4cdcd, -20px -20px 43px #ffffff; */
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;  
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    font-family: Akkurat;
    font-size: 23px;
    text-align: center;
}


/* END BUTTONS*/

#image_visualisator{
    text-align: center;
    bottom: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container {
    text-align: center;
}

p {
    color: #000000;
    font-family: Akkurat;
    font-size: 17px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    
}
p1{
    color: #000000;
    font-family: Akkurat;
    font-size: 17px;
    cursor: pointer;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}


.vertcenter {
    margin-top: 200px;
}

#pot_options {
background-color: transparent;
}

#design_options{
    background-color: transparent;
}

#main_color_options{
    background-color: transparent;
}

#secondary_color_options{
    background-color: transparent;
}

/* ELEMENTS SHARE PICTOGRAM */

.lines{
    cursor: pointer;
    background-color: black;
    width: 2px;
    height:20px;
    position:fixed;
    transition: all .2s ease-in-out;
}

.small_lines{
    cursor: pointer;
    background-color: black;
    width: 2px;
    height: 5px;
    position: fixed;
    transition: all .6s ease-in-out;
}
.small_lines.show{
background-color: transparent;
transition: all .2s ease-in-out;
}

.arrow{
    cursor: pointer;
    background-color: black;
    width: 2px;
    height: 8px;
    position: fixed; 
    transition: all .2s ease-in-out;
}


#cross{
left:54px;
bottom: 42px;
transition: all .4s ease-in-out;
}

#cross.show{
    transform: translateX(10px)translateY(-2px) rotate(45deg);
    transition: all .5s ease-in-out;
}



#cross_2{
left: 73px;
bottom: 42px;
transition: all .4s ease-in-out;
}

#cross_2.show{
    transition: all .5s ease-in-out;
    transform: translateX(-9px) translateY(-2px) rotate(-45deg) ;
}

#horizontal_line{
left:64px;
bottom: 33px;
transform: rotate(90deg);
transition: all .3s ease-in-out;
}
#horizontal_line.show{
    background-color: transparent;
    transition: all .2s ease-in-out;
}

#vertical_line{
bottom:49px;
left:64px;
transition: all .3s ease-in-out;
}
#vertical_line.show{
    background-color: transparent;
    transition: all .2s ease-in-out;
    transform: translateY(-15px);
}

#arrow{
bottom: 64px;
left:62px;
transform: rotate(45deg);
}
#arrow.show{
    background-color: transparent;
    transition: all .2s ease-in-out;
    transform: translateY(-20px) rotate(45deg);
    }

#arrow_2{
    bottom: 64px;
    left:66px;
    transform: rotate(-45deg);
}
#arrow_2.show{
    background-color: transparent;
    transition: all .2s ease-in-out;
    transform: translateY(-20px) rotate(-45deg);
    }

#small_line{
bottom: 59px;
left:57px;
transform: rotate(90deg);
}
#small_line_2{
    bottom: 59px;
    left:70px;
    transform: rotate(90deg);
}

/* END ELEMENTS SHARE PICTOGRAM */
.text{
    position: fixed;
}
.rose{
    
    background-color: #FFF7F7; 
    height: 30px;
    width: 175px;
    position: fixed;
    display: inline-block;
}

.placing{
    bottom: 150px;
    position: absolute;
    left: -85px
    
}
.hover_text_link{
    position: fixed;

    color: #000000;
    font-family: Akkurat;
    font-size: 17px;
    display: block;
    bottom: 125px;
    transition: all .2s ease-in-out;
}
.hover_text_link.show{
    transform: translateX(180px);
    transition: all .15s ease-in-out;
}
.hover_text_link.show.plus{
    transform: translateX(-180px);
    transition: all .15s ease-in-out;
}

.hover_text_fb{
    position: fixed;

    color: #000000;
    font-family: Akkurat;
    font-size: 17px;
    display: block;
    bottom: 285px;
    left:-100px;
    transition: all .2s ease-in-out;
}
.hover_text_fb.show{
    transform: translateX(200px);
    transition: all .15s ease-in-out;
}
.hover_text_twitter{
    position: fixed;
    
    color: #000000;
    font-family: Akkurat;
    font-size: 17px;
    display: block;
    bottom: 205px;
    transition: all .2s ease-in-out;
}
.hover_text_twitter.show{
    transform: translateX(180px);
    transition: all .15s ease-in-out;
}
#twitter_height{
    
bottom: 205px;
}
#fb_height{
bottom: 285px;
}

.plink{
    cursor: pointer;
    width: 30px;
    background: transparent;
    transition: all .8s ease-in-out;
    position: fixed;
    bottom: 42px;
    margin-left: 51px;  
    text-align: center;
}
.plink.show{
    bottom: 122px;
    transition: all .5s ease-out;
}

.ptwitter{
    cursor: pointer;


    width: 30px;
    background: transparent;
    transition: all .8s ease-in-out;
    position: fixed;
    bottom: 52px;
    margin-left: 51px;  
    text-align: center;
}
.ptwitter.show{
    bottom: 203px;
    transition: all .5s ease-out;
}
.pfb{
    cursor: pointer;
    height: 30px;
    transition: all .8s ease-in-out;
    position: fixed;
    bottom: 47px;
    margin-left: 57px;  
    text-align: center;
}
.pfb.show{
    bottom: 280px;
    transition: all .555s ease-out;
}

#pot_presentation{
    align-items: center;
}